.container{
    width: 1200px;
    padding-top: 30px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tags{
    display: flex;
    gap: 30px;
}

.tags a{
    color: #999A9B;
    font-size: 20px;
    text-decoration: none;
}

a:hover{
    color: #FCFCFC;
}